body{
	background-color: white;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

header {

	background-color: #2b343d;
	padding: 1.8%;
	position: relative;
	text-align: center;
	color: white;

}

header p {

	text-transform: uppercase;
}

.boutton_bleu_valider {

	color: #4682B4;
}

a {

	color: white;
}

ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

li {
	margin-left:2px;
	float:left;
}

ul li a {
	display:block;
	float:left;   
	width:100px;
	color:black;
	text-decoration:none;
	text-align:center;
	padding:5px;
}

ul li a:hover {
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	border-radius: 5px;
}

.log {

	text-align: center;
}

.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 20%;
	margin: auto;
}

/*#contenu {
	background: #2b343d;
	clear: both;
	color: black;
	padding: 10px 20px 40px 20px;
	overflow: auto;
	width: 20%;
	margin: auto;
	padding: 5%;
}

#content {
	background: #2b343d;
	clear: both;
	color: black;
	padding: 10px 20px 40px 20px;
	overflow: auto;
	width: 20%;
	margin: auto;
	padding: 5%;
}*/

body.couleurfond {

	background-color: #778899;
}

.log {

	background: #2b343d;
	clear: both;
	color: black;
	padding: 10px 20px 40px 20px;
	overflow: auto;
	width: 20%;
	margin: auto;
	padding: 5%;

}

.log label {

	color: white;
}

.log legend {

	color: white;
}


#selection ul li{

	margin-left: 21%;
	margin-top: 7%;
}
img {

	width: 80%;
}

#profil {

	float: right;
}

#profil img {

	width: 15%;
}


label {

	text-transform: uppercase;
}

.stylefond {

	border: solid 1px;
}

.stylefond h1 {

	text-transform: uppercase;
	border: solid 1px;
}

.connexion {

	width: 10%;
	margin: auto;
	margin-top: 5%;
}

input {
	color: black;
}

.error {
  border: 1px solid red;
}
.form-error {
  border: 1px solid red;
  background: #fcf5f6;
}
.error-message {
  color: red;
  font-weight: bold;
}

p {
	color:black;
}
